* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color:  #111827;
}

.side-bar {
    width: 100%;
    height: 6vh;
    display:flex;
    justify-content: space-around;
    color: #F8F6F0;
    align-items: center;
    position: fixed;
      background: linear-gradient(
        135deg,
        #0f172a 0%,
        #1e293b 50%,
        #111827 100%
    );
}

.side-bar h1 {
    font-size: 20px;
}

.side-bar ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
}

.side-bar a {
    text-decoration: none;
    color:  #F8F6F0;
}

/* section */

.hero {
    height: 98vh;
    display: flex;
    align-items: center;
    padding-top: 70px;
}

.container {
    width: 100%;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px;
}

.isi {
    width: 90%;
    height: 600px;
}

.isi h1 {
    padding-top: 120px;
    font-size: 3em;
    color:  #F8F6F0;
}

p {
    padding-top: 20px;
    font-size: medium;
    color:  #F8F6F0;
    line-height: 30px;
}

.tombol {
    width: 100%;
    display: flex;
    padding-top: 50px;
    gap: 20px;
}

.button {
    width: 25%;
    height: 5vh;
    border-radius: 30px;
    background-color: #1e293b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tombol a {
    text-decoration: none;
    color: #F8F6F0;
}

.gambar {
    width: 90%;
    height: 600px;
    background-color: brown;
}

.gambar img {
    width: 100%;
    height: 80vh;
    height: 600px;
}

/* About me */

.About-me {
    margin-top: 20px;
    width: 100%;
    height: 98vh;
    display: flex;
    align-items: center;
}

.profile {
    width: 100%;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px;
    margin-top: 70px;
}

.gambar2 {
    width: 90%;
    height: 600px;
}

.gambar2 img {
    width: 100%;
    height: 80vh;
    height: 600px;
}

.isi2 {
    width: 90%;
    height: 600px;
}

.isi2 h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 3em;
    color:  #F8F6F0;
}

.tombol3  {
    margin-top: 35px;
    display: flex;
    gap: 20px;
}

.tombol3 a {
    text-decoration: none;
    color: #F8F6F0;
}

/* project */

.project {
    margin-top: 20px;
    width: 100%;
    height: 98vh;
    display: flex;
    align-items: center;
}

.parents {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
}

.card {
    width: 25%;
    height: 60vh;
    border-radius: 40px;
     background-color:  #1E293B;
}

.card img {
    width: 100%;
    height: 230px;
    border-radius: 20px 20px 0px 0px;
}


.card h2 {
    text-align: center;
    padding-top: 15px;
    color: #F8F6F0;
}

.card p {
    font-size: 13px;
    line-height: 20px;
    text-align: start;
    text-align: center;
    padding: 20px 10px 0px;
}

.link {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link a {
    width: 35%;
    height: 5vh;
    Background: #94A3B8;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

.sosial-media {
    margin-top: 20px;
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color:  #0B1120;
}

.cardh2 {
    width: 45%;
    height: 20vh;
    margin-left: 100px;
    color: #F8F6F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card3 {
    margin-top: 50px;
    width: 45%;
    height: 20vh;
    margin-left: 100px;
    color: #F8F6F0;
}

.sosial-media ul  {
    list-style: none;
    padding-top: 10px;
    line-height: 25px;
}

.sosial-media a {
    text-decoration: none;
    color:  #F97316;
}

.cardf p {
    font-size: 13px;
    color: #FAF3E0;
}






